<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link href="css/style.css" rel="stylesheet">-->
</head>

<body>

    <table>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>

        <tr>
            <td>{{ users }}</td>
            <td>{{ weeklygoal }}</td>
            <td>{{ dailygoal }}</td>
            <td>{{ verifygoal }}</td>
            <td>{{ donegoal }}</td>
        </tr>

        <!--{% for goals in dic_values %}-->
        <!--{% endfor %}-->
    </table>

</body>

</html>