<!DOCTYPE html>
<html lang="en">

<head>
    <title>Semiu Scrumy App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table style="border: 1px solid">

            <tr style="border: 1px solid">
                <th style="border: 1px solid">User</th>
                <th style="border: 1px solid">Weekly Goals</th>
                <th style="border: 1px solid">Daily Goals</th>
                <th style="border: 1px solid">Verify Goals</th>
                <th style="border: 1px solid">Done Goals</th>
            </tr>
            <!-- Lab 14 starts here
            <tr style="border: 1px solid">
                <td style="border: 1px solid">{{ user }}</td>
                <td style="border: 1px solid">{{goal_name}} | {{ goal_id }}</td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
            </tr>
            End of Lab 14-->
            <!--Lab 16 Starts here-->
            {% if context != '' and countuser > 0 %}

            <tr style="border: 1px solid">
                <td style="border: 1px solid">{{ users }} </td>
                <td style="border: 1px solid">{{ goalid }} {{ weeklygoal }}
                </td>

                <td style="border: 1px solid">{{ dailyid }} {{ dailygoal }}
                </td>
                {% if verifygoal != '' %}
                <td style="border: 1px solid"> {{ verifygoal }}
                </td>
                {% else %}
                <td style="border: 1px solid">
                </td>
                {% endif %} {% if donegoal != '' %}
                <td style="border: 1px solid"> {{ donegoal }}</td>
                {% endif %}
            </tr>
            {% endif %}
            <!--{% for goals in dic_values %}-->
            <!--{% endfor %}-->
        </table>
    </div>
    <table>
</body>

</html>