<!DOCTYPE html>
<html lang="en">

<head>
    <title>Semiu Scrumy App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <!-- Lab 18 starts here -->

        <div class="main-block">
            <h1>Move Goal</h1>

            <form action="" method="POST">
                {% csrf_token %} {{form}}
                <input type="text" name="goal_name" value="{{goal_name}}" readonly />
                <!--<input type="text" name="goal_status" value="" placeholder="Enter Goal Status" required />-->
                <button type="submit">Move..</button>
                <!-- Lab 18 ends here -->
            </form>
        </div>

    </div>
    <table>
</body>

</html>